{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Upload your document</h1>

        <form method="POST" enctype="multipart/form-data" class="mb-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="document" class="form-label">Choose a file to upload</label>
                <input type="file" name="document" id="document" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Upload file</button>
        </form>

        <h2 class="mb-4">Uploaded files:</h2>
        <ul class="list-unstyled">
            {% for document in document_file %}
                <article class="media content-section mb-3">
                    <div class="media-body">
                        <div class="article-metadata">
                            <li>
                                <strong>{{ document.tittle }}</strong>
                                <a href="{% url 'download_file' file_id=document.id %}" class="btn btn-link" download>Download</a>
                                <a href="{% url 'share_file' file_id=document.id %}" class="btn btn-link">Share</a>
                            </li>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </ul>

        <!-- Logout button -->
        <form action="{% url 'Logout' %}" method="post" class="mt-4" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-link">Logout</button>
        </form>
    </div>
{% endblock content %}
